@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}

.overlay {
	display: none;
}

.overlay:target {
	display: flex;
}